.login-page
{
    display: grid;
    grid-auto-flow: row;
    
}



.banner_image
{
    width:1920px;
    height: 20vh;
    margin: 0;
    padding: 0;
}

.bottom-part{
    background-color: #E5E5E5;
    height: 66vh;
    position: relative;
}

.form_part
{
    position: absolute;
    background-color: white;
    height: 500px;
    width: 500px;
    left:685px;
    top:-100px;
    border-radius: 20px;
}

.logo{
    height: 91px;
    width: 250px;
    left: 562px;
    top: 500px;
    border-radius: 0px;
    margin-top: 40px;

}
.username
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.username input{
    width: 250px;
    margin-left: 130px;
    background-color:#F1F1F1;
    outline: none;
    height: 30px;
    border: none;
}

.username label{
    margin-right: 185px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.form_part h2{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.login
{
    position: relative;
    margin-top: 50px;
    width: 200px;
    height: 30px;
    background: #552D59;
    color:white;
    border-radius: 5px;

}

.forgotPass
{
    position: relative;
    top:-80px;
    font-size: 12px;
    left: 80px;
    text-decoration: none;
    color: black;
    transition: transform .5s;
}

.forgotPass:hover{
    color: black;
    text-decoration: none;
    filter: drop-shadow(1px 1px 2px black);
}

input:focus
{
    outline: none;
}

input::placeholder
{
    font-size: 12px;
}