.form-div
{
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

.form-div lable
{
    align-items: center;
}

.form-div input{
    margin-left: 420px;
    margin-top: -20px;
}