.salary_table_container
{
    background-color: white;
    border-radius: 20px;
    padding:0px;
    position: absolute;
    top:200px;
    left:450px;
    text-align: center;
    min-width: 700px;
    width: max-content;
    min-height: 100px;
    height: auto;
    padding-bottom: 20px;   
    width: 900px;
}

.salary_table
{
    table-layout:fixed;
    margin-top: 20px;
    margin-left: -25px;
    width: 100%;
    position: relative;
    left: 80px;
    min-height: 200px;
    height: auto;
}

.salary_edit
{
    border: none;
    outline: none;
    margin: 5px;
    height: 30px;
    color: white;
    background-color: #552D59 ;
    font-size: 12px;
}

.salary_view
{
    border: none;
    outline: none;
    margin: 5px;
    height: 30px;
    color: white;
    background-color: #732B2B ;
    font-size: 12px;
}

.salary_line
{
    width: 620%;
    margin-left: 10%;
    margin-bottom: 2px;
    margin-top: 4px;
}

.salary_table_buttons
{
    display: flex;
}

.add_salary
{
    float: right;
    height: 40px;
    width: 120px;
    z-index: 100;
    background-color:#552D59 ;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    position: fixed;
    top:140px;
    right:550px;
}