/* Add State CSS */
.mainState{
    width: 2400px;
    height: 2400px;
    background: #F1F1F1;
}

.mainAddState {
    position: absolute;
    width: 768px;
    height: 380px;
    left: 680px;
    top: 360px;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    border-radius: 45px;
    font-weight: 400;
    font-size: 16px;
}

.saveButton{
    background: #552D59;
    font-weight: 400;
    font-size: 16px;
    width: 106px;
    height: 43px;
    font-family: 'Poppins', sans-serif;
}

.cancelButton{
    background: #732B2B;
    font-weight: 400;
    font-size: 16px;
    width: 106px;
    height: 43px;
    font-family: 'Poppins', sans-serif;

}

/* View State CSS */
.mainViewState > h2
{
    padding: 0px;
    margin: 0;
    position: relative;
    width: 100%;
    background-color: #E5E5E5;
    height: 100vh;
}

.viewStateContainer
{
    background-color: white;
    border-radius: 20px;
    padding:0px;
    position: absolute;
    top:200px;
    left:33%;
    text-align: center;
    min-width: 700px;
    width: max-content;
    min-height: 200px;
    height: auto;
    padding-bottom: 10px;   
    width: 900px;
}


.table_viewState td{   
    width: 20%;
}

.table_viewState
{
    margin-top: 20px;
    margin-left: -25px;
    width: 800px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
}

.hr_viewtag
{
    width: 570%;
    margin-left: 10%;
    margin-bottom: 2px;
    margin-top:4px;
}   

button
{
    height: fit-content;
    width: 80px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.viewAddStateButton
{
    height: 40px;
    width: 120px;
    margin-right: 400px;
    margin-top: 70px;
    background-color:#552D59 ;
    color: white;
    border: none;
    border-radius: 5px;
}

.deleteButton {
    background: #732B2B;
    font-weight: 400;
    font-size: 16px;
    width: 100px;
    height: 35px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 3px;
    font-family: 'Poppins', sans-serif;
}

.editButton {
    background: #552D59;
    font-weight: 400;
    font-size: 16px;
    width: 100px;
    height: 35px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}