.mainCountry{
    width: 2400px;
    height: 2400px;
    background: #F1F1F1;
}

.mainAddCountry {
    position: absolute;
    width: 768px;
    height: 250px;
    left: 680px;
    top: 360px;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    border-radius: 45px;
    font-weight: 400;
    font-size: 16px;
}

.saveButton {
    background: #552D59;
    font-weight: 400;
    font-size: 16px;
    width: 106px;
    height: 43px;
    font-family: 'Poppins', sans-serif;
}

.cancelButton {
    background: #732B2B;
    font-weight: 400;
    font-size: 16px;
    width: 106px;
    height: 43px;
    font-family: 'Poppins', sans-serif;

}